@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    margin-bottom: 25px;
}

header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    border-radius: 10px 10px 0 0;
}

img {
    pointer-events: none;
}

.main-wrapper {
    width: 375px;
    margin: 5em auto 0;
}

.oldagram-logo {
    width: 100px;
    margin-left: 10px;
}

.user-profile {
    width: 3em;
    margin-right: 10px;
}

.post {
    background: white;
    padding: 20px 0;
}

.post-author-container {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.author-info,
.post-info {
    margin: 0 10px;
}

.avatar-img {
    margin-left: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post-name {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
}

.post-location {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.post-img {
    width: 100%;
}

.post-info {
    font-size: 13px;
}

.like-btn,
.comment-btn,
.share-btn {
    margin-top: 20px;
    width: 20px;
}

.like-btn:hover,
.comment-btn:hover,
.share-btn:hover {
    opacity: 0.5;
}

.likes-number {
    margin: 5px 0;
    font-weight: 700;
}

.comment a {
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin-right: 5px;
}

.animated-bakground {
    background: linear-gradient(335deg, #405de6, #5851d8, #c13584, #cdb4db, #ffc8dd, #f56040, #fcaf45, #ff8cb6, #bde0fe, #a2d2ff);
    background-size: 2000% 2000%;

    -webkit-animation: Amir-Gradient-Animation 30s ease infinite;
    -moz-animation: Amir-Gradient-Animation 30s ease infinite;
    animation: Amir-Gradient-Animation 30s ease infinite;
}

@-webkit-keyframes Amir-Gradient-Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Amir-Gradient-Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Amir-Gradient-Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}